# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "db74bd6edd68a6a8f163acbdab02818e"
name = "InstantTSSections"
application_url = "https://bands-prove-arrow-somewhere.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "unauthenticated_read_product_listings,read_themes,read_locales"

[auth]
redirect_urls = [
  "https://bands-prove-arrow-somewhere.trycloudflare.com/auth/callback",
  "https://bands-prove-arrow-somewhere.trycloudflare.com/auth/shopify/callback",
  "https://bands-prove-arrow-somewhere.trycloudflare.com/api/auth"
]